@{
    ViewData["Title"] = "Home Page";
}


<div>
    <dl class="col">
        <dt class="col">
            <a class=" text-dark" asp-area="" asp-controller="Employees" asp-action="Index">Employees</a>
        </dt>
        <dt class="col">
            <a class=" text-dark" asp-area="" asp-controller="Computers" asp-action="Index">Computers</a>
        </dt>
        <dt class="col">
            <a class=" text-dark" asp-area="" asp-controller="Departments" asp-action="Index">Departments</a>
        </dt>
        <dt class="col">
            <a class=" text-dark" asp-area="" asp-controller="Training Programs" asp-action="Index">Training Programs</a>
        </dt>

</div>
