@model BangazonWorkForceManagement.Models.ViewModels.ComputerCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ComputerCreateViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Computer.Make" class="control-label"></label>
                <input asp-for="Computer.Make" class="form-control" />
                <span asp-validation-for="Computer.Make" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Computer.Manufacturer" class="control-label"></label>
                <input asp-for="Computer.Manufacturer" class="form-control" />
                <span asp-validation-for="Computer.Manufacturer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Computer.PurchaseDate" class="control-label"></label>
                <input asp-for="Computer.PurchaseDate" class="form-control" />
                <span asp-validation-for="Computer.PurchaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Computer.Employee" class="control-label"></label>
                <select asp-for="Computer.Employee.Id" asp-items="@Model.EmployeesOptions"></select>
                <span asp-validation-for="Computer.Employee.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
